#miscArrow1 {
  position: absolute;
  top: calc(50% - 60px);
  right: 70px;
  translate: 0px -50%;
  color: white;
  animation: arrowAnim1 3s ease-in-out infinite;
  background: -webkit-linear-gradient(#84fab0, #8f5ef2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  z-index: -1;
}
  
@keyframes arrowAnim1 {
  0% {
    transform: scale(2) rotate(40deg);
  }
  
    50% {
    transform: scale(3.5) rotate(40deg);
  }
  
    100% {
    transform: scale(2) rotate(40deg);
  }
}  
#miscArrow2 {
  position: absolute;
  top: 50%;
  right: 80px;
  translate: 0px -50%;
  color: white;
  animation: arrowAnim2 2.5s ease-in-out infinite;
  background: -webkit-linear-gradient(#84fab0, #8f5ef2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  z-index: -1;
}
  
@keyframes arrowAnim2 {
  0% {
    transform: scale(1);
  }
  
    50% {
    transform: scale(2.5);
  }
  
    100% {
    transform: scale(1);
  }
}  
#miscArrow3 {
  position: absolute;
  top: calc(50% + 60px);
  right: 65px;
  translate: 0px -50%;
  color: white;
  animation: arrowAnim3 3.5s ease-in-out infinite;
  background: -webkit-linear-gradient(#84fab0, #8f5ef2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  z-index: -1;
}
  
@keyframes arrowAnim3 {
  0% {
    transform: scale(3) rotate(-40deg);
  }
  
    50% {
    transform: scale(1.5) rotate(-40deg);
  }
  
    100% {
    transform: scale(3) rotate(-40deg);
  }
}  


/* The sidebar menu */
.sidebar {
  height: 590px; /* 100% Full-height */
  width: 300px; /* 0 width - change this with JavaScript */
  position: absolute; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 50%;
  right: -400px;
  translate: 0 -50%;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  border-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px;
}

/* The sidebar links */
.sidebar a {
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  transition: 0.3s;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
}
.sidebar p {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
}

.sidebar a:hover {
  color: #5021ff;
}

.openbtn {
  gap: 1rem;
  background-image: radial-gradient(#ffffff1a 1px, transparent 1px);
  background-position: 50% 50%;
  background-size: 1.1rem 1.1rem;
  border: 1px solid;
  border-color:  rgb(255 255 255 / 5%);
  border-radius: 1.5rem;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  position: absolute;
  top: 50%;
  right: 0%;
  translate: 0 -50%;
  font-size: 30px;
  cursor: pointer;
  background-color: #000000;
  color: white;
  margin-right: 0px;
  padding: 50px 5px 50px 10px;
  transition: all .2s;
}

.openbtn:hover {
  border-top-color: #8f5ef280;
  border-left-color: #8f5ef280;
  border-bottom-color: #8f5ef280;
  background-image: radial-gradient(#8f5ef280 1px, transparent 1px);
}

.openbtn:hover i {
  background: -webkit-linear-gradient(#84fab0, #8f5ef2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  position: absolute;
  top: 50%;
  right: 0%;
  translate: 0 -50%;
  transition: margin-right .5s; /* If you want a transition effect */
  padding: 20px;
}

#circle1 {
  position: absolute;
  top: 10px;
  left: 7px;
  height: 10px;
  width: 10px;
  background-color: #fc6156;
  border-radius: 50%;
}
#circle2 {
  position: absolute;
  top: 10px;
  left: 24px;
  height: 10px;
  width: 10px;
  background-color: #ffbd2b;
  border-radius: 50%;
}
#circle3 {
  position: absolute;
  top: 10px;
  left: 41px;
  height: 10px;
  width: 10px;
  background-color: #29c940;
  border-radius: 50%;
}

#lines {
  position: absolute;
  left: -25px;
  color: #f5a9b8;
}

#color1 {
  color: #ff79c6;
}
#color2 {
  color: #bd93f9;
}
#color3 {
  color: #50fa7b;
}
#color4 {
  color: #8be9fd;
}

#text2 {
  position: absolute;
  top: 50%;
  left: 10%;
  translate: 0 -50%;
  color: white;  
  width: calc(90% - 350px);
  font-size: 1.5em;
  font-weight: bold;
}