html {
  scroll-behavior: smooth;
 }

body {
  background-color: black;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 0rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

#second {
  position: absolute;
  top: 100%;
  height: 100%;
  width: 100%;
  /* background-color: black; */
}

#profilepic {
  height: 334px;
  border-radius: 50%;
  float: right;
  margin-right: 10%;
  margin-top: 12.5%;
}

#text1 {
  color: white;  
  margin-left:10%;
  margin-top: 12.5%;
  padding-top:3%;
  width: 50%;
}

/* #btndown {
  color: white;
  margin: auto;
  margin-bottom: 10%;
}

#btnup {
  color: white;
  left: 50%;
} */